{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/multiple-select.css') }}" />
    <link rel="stylesheet" href="templates/account.css">
{% endblock %}

{% block body %}

    {{ form_start(form) }}

        <h1>Mon profil</h1>

        <div class="picture"{{ form_start(form) }} </div>
        <img src="http://via.placeholder.com/150">
        <p> Importer une photo de profil (In coming...) </p>

        <h3> Mes langues </h3>
        {% if not app.user.defaultLang %}
            <p> Vous n'avez pas encore sélectionner vos langues. <br/>
                Veuillez modifier vos informations <br/>
                {% for defaultLang in app.user.defaultLang %}
                    <li>{{ defaultLang }}</li>
                {% endfor %}
        {% else %}
            {% for defaultLang in app.user.defaultLang %}
                <li>{{ defaultLang }}</li>
            {% endfor %}
        {% endif %}

        <div class="description">
            <h3> Votre description </h3>
                {% if not app.user.description %}
                <p> Vous n'avez pas encore de description ! Modifiez vos informations. </p>
                {% else %}
                <p> {{ app.user.description }}</p>
            {% endif %}
        </div>

        <h4>Modifier mes informations</h4>

        {{ form_row(form.email , {'label': 'Modifier votre e-mail actuel :' }) }}
        {{ form_row(form.save_email) }}

        <p> <a class="btn btn-primary" href="{{ path('change_password') }}">
                Cliquez ici pour changer votre mot de passe</a> </p>

            {{ form_row(form.description , {'label': 'Modifier votre description :' }) }}
            {{ form_row(form.save_description) }}

        <form name="sub_form">
            <div >
                <div class="form-group">
                    <label> Choissisez une ou plusieurs langues</label>
                    <select id="ms" name="choised_lang[]" multiple="multiple">
                        {% for code , fullname in languages %}
                            <option value="{{ code }}">{{ fullname }}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
            <button type="submit" class="form-group btn btn-outline-primary">Valider </button>
        </form>

    {{ form_end(form) }}

    {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/multiple-select.js') }}"></script>
        <script>
            $(function() {
                $('#ms').change(function() {
                    console.log($(this).val());
                }).multipleSelect({
                    width: '100%'
                });
            });
            // Permet d'afficher le nom du fichier uploadé (bug bootstrap)
            $(document).on('change', '.custom-file-input', function () {
                let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
                $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
            });
        </script>

    {% endblock %}

{% endblock %}
