{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/multiple-select.css') }}" />
    <link rel="stylesheet" href="{{ asset('flags/flags.min.css') }}" />
{% endblock %}

{% block body %}

    {{ form_start(form) }}

        <h1>Mon profil</h1>

        <div class="picture"{{ form_start(form) }} >
        <img src="http://via.placeholder.com/150">
        <p> Importer une photo de profil (In coming...) </p>

        <h3> Mes langues </h3>
    <p> <a class="btn btn-primary" href="{{ path('add_language') }}">
            Cliquez ici pour ajouter des langues</a> </p>
        {% if app.user.defaultLang > 2 %}
            Vous avez le statut de traducteur pour les langues suivantes :
            <form name="sub_form">
                <table>
                    <tbody>
                    <tr>
                        {% for key , value in ico_array %}
                            <td> <button value="{{ value[0] }}" name="defaultLang"> <img src="{{ asset('flags/blank.gif') }}" class="flag flag-{{key}}" alt="{{ value[1] }}" /><br>{{ value[1] }} </button> </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </form>
            <br/>
        {% else %}
            <p> Vous n'avez pas le statut de traducteur, car vous n'avez pas sélectionné au moins deux langues </p>
            <form name="sub_form">
                <table>
                    <tbody>
                    <tr>
                        {% for key , value in ico_array %}
                            <td> <button value="{{ value[0] }}" name="defaultLang"> <img src="{{ asset('flags/blank.gif') }}" class="flag flag-{{key}}" alt="{{ value[1] }}" /><br>{{ value[1] }} </button> </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </form>
        {% endif %}

        <div class="description">
            <h3> Votre description </h3>
                {% if not app.user.description %}
                <p> Vous n'avez pas encore de description ! Modifiez vos informations. </p>
                {% else %}
                <p> {{ app.user.description }}</p>
            {% endif %}
        </div>

        <h4>Modifier mes informations</h4>

        {{ form_row(form.email , {'label': 'Modifier votre e-mail actuel :' }) }}
        {{ form_row(form.save_email) }}

        <p> <a class="btn btn-primary" href="{{ path('change_password') }}">
                Cliquez ici pour changer votre mot de passe</a> </p>

            {{ form_row(form.description , {'label': 'Modifier votre description :' }) }}
            {{ form_row(form.save_description) }}

    {{ form_end(form) }}

{% endblock %}
