
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/modify_src.css') }}" />
{% endblock %}

{% block title %}

{% endblock %}

{% block body %}

    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
<form method="post" >
    <table>
    {% for key , value  in strings %}

        <tr>
            <td>{{ key }}</td>
            <td><label for="{{ key }}">{{ value }}</label><br>
                <input type="hidden" name="translated_keys[]" value="{{ key }}">
                <textarea id="{{ key }}" name="translated_values[]" rows="5" cols="150"></textarea><br>

        </tr>
    {% endfor %}
    </table>
    <button type="submit">Save</button></td>
</form>
    {% block javascript %}
        <script src="{{ asset('js/modify_source.js') }}"></script>
    {% endblock %}
{% endblock %}

   {# <div class="tab">
        <button class="tablinks" onclick="openCity(event, '{{ key }}')">{{ key }}</button>
    </div>

    <div id="{{ key }}" class="tabcontent">
        <br>
        <label for="story">{{ value }}</label>
        <br><br>

        <textarea id="story" name="story" rows="5" cols="150">
        </textarea>
        <br>
        <p >Google exemple</p>
        <button >Save</button>
    </div>#}