<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% if not app.user %}{{ path('home') }} {% else %}{{ path('hello_page') }} {% endif %} ">Crowdin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_registration') }}">Inscription</a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('project_create') }}">Création d'un projet</a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mes projets</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    {% if not app.user %}
                        <div class="nav-item">
                            <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                        </div>
                    {% else %}
                        <div class="nav-item">
                            <a class="nav-link disabled" href="{{ path('security_logout') }}">Déconnexion</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link disabled" href="{{ path('account') }}">Mon compte</a>
                        </div>

                    {% endif %}
                    <input class="form-control mr-sm-2" type="text" placeholder="Rechercher un projet">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
