{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/multiple-select.css') }}" />
{% endblock %}

{% block body %}
    {% form_theme formP 'bootstrap_4_layout.html.twig' %}
    {{ form_start(formP) }}
    {{ form_errors(formP) }}

<div class="container">
    <div>
        {{ form_label(formP.name) }}
        {{ form_errors(formP.name) }}
        {{ form_widget(formP.name) }}
    </div>

    <div>
        {{ form_label(formP.url) }}
        {{ form_errors(formP.url) }}
        {{ form_widget(formP.url) }}
    </div>

    <br>
    <div>
        {{ form_label(formP.publicVisible) }}
        {{ form_errors(formP.publicVisible) }}
        {{ form_widget(formP.publicVisible) }}
        {{ form_help(formP.publicVisible) }}
    </div>
    <br>
    <div>
        {{ form_label(formP.defaultLang) }}
        {{ form_errors(formP.defaultLang) }}
        {{ form_widget(formP.defaultLang) }}
        {{ form_help(formP.defaultLang) }}
    </div>
    <br>

    <div>
        {{ form_row(formP.file) }}
    </div>

    {#<div>
        {{ form_label(formP.languages) }}
        {{ form_errors(formP.languages) }}
        {{ form_widget(formP.languages) }}
        {{ form_help(formP.languages) }}
    </div>#}

    <form name="sub_form">
    <div >
        <div class="form-group">
            <label> Translate to Languag</label>
            <select id="ms" name="choised_lang[]" multiple="multiple">
                {% for code , fullname in languages %}
                    <option value="{{ code }}">{{ fullname }}</option>
                {% endfor %}

            </select>
        </div>
    </div>
    </form>

    <!--<button  type="submit" >OKAY</button>-->
    <div>
        {{ form_widget(formP.submit) }}
    </div>

</div>
{{ form_end(formP) }}
    {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/multiple-select.js') }}"></script>
        <script>
            $(function() {
                $('#ms').change(function() {
                    console.log($(this).val());
                }).multipleSelect({
                    width: '100%'
                });
            });
            // Permet d'afficher le nom du fichier uploadé (bug bootstrap)
            $(document).on('change', '.custom-file-input', function () {
                let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
                $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
            });
        </script>
        {% endblock %}
{% endblock %}

